@font-face{
	font-family: heroic;
	src:url(fonts/heroic.ttf);
}

header{
	background-color: black;
	width: 100%;
	display: inline-block;
}

@font-face{
	font-family: adellesans;
	src:url(fonts/adellesans.ttf);
}


body{
	margin:0px;
	background: black;
}

.mainHeader__logoContainer{
	width: 70%;
	float: left;
}
.mainHeader__logo{
	background-color: black;
	float: left;
	margin-left: 16px;
    padding: 8px 0;
}

.mainHeader__logo svg{
	height: 25px;
    max-width: 150px;
}

.mainHeader__userIconContainer{
	width: 30%;
	float: right;
	position: relative;
}

.mainHeader__userIcon{
	background-color: black;
	height: 35px;
	width: 48px;
    line-height: 35px;
	text-align: center;
    vertical-align: middle;
}

.mainHeader__userIcon svg{
	height: 16px;
	width: 16px;
    position: absolute;
    top: 15px;
    right:16px;
}

.mainHeader__navBar{
	list-style-type: none;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #333333;
}

.mainHeader__navBarElements{
	width: 25%;
	float: left;
}

.mainHeader__navBar a{
	float: left;
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-family: heroic;
	color: #ffffff;
	font-size: 1.15em;
	letter-spacing: 0.05em;
	width: 100%;
	border-right: 1px solid #333333;
	padding-top: 4px;
	padding-bottom: 8px;
}

.mainHeader__linkArrow svg{
	height: 7px;
	width: 7px;
	fill: #e5127d;
}



footer{
	width: 100%;
	text-align: center;
	background-color: #000;
    color: #fff;
    padding-top: 16px;
    border-top: 1px solid #343434;
}

.footer__logo{
	align-items: center;
	padding: 8px 16px;
}

.footer__logo svg{
	max-height: 120px;
    max-width: 250px;
    align-items: center;
    text-align: center;
}

.footer__linksContainer{
}

.footer__links{
	list-style: none;
	font-size: .75em;
	font-family: helvetica;
	text-align: center;
	padding: 0px;
}

.footer__links ul{
	text-align: center;
}

.footer__links li{
	display: inline-block;
	padding-bottom: 6px;
}

.footer__links li:after{
	content: "\2022";
}

.footer__links li:last-child:after{
	content: none;
}

.footer__links a{
	color: #e5127d;
    vertical-align: baseline;
    text-decoration: none;
    padding-right: 8px;
    padding-left: 8px;
}

.footer__status{
	font-size: .75em;
	font-family: helvetica;
	padding-top: 0px;
}

.footer__bottom__status a{
	text-decoration: none;
	color: #e5127d;
	text-align: center;
}

.footer__bottom__status-text{
	margin: 4px;
}

.footer__voxLogo-text{
	fill: #fff;
}
.footer__voxLogo{
	width: 100%;
    max-width: 150px;
}

.footer__section-vox{
	font-size: .75em;
    padding: 16px 16px;
}

.footer__copyright{
	display: inline-block;
	width: 100%;
}
.footer__copyright a{
	text-decoration: none;
	color: #e5127d;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
}

.footer__corporateLink {
	text-decoration: none;
	color: #e5127d;
	font-family: helvetica;
	font-size: 12px;
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.articles-main__contents{
	background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
	overflow: auto;	
}

.articles-main__contents__type1{
	float: left;
    margin: 1px 2px;
    background: black;
    box-sizing: border-box;
    padding: 8px;
    width: -webkit-fill-available;
}

.articles-main__contents__type1 img{
	float: left;
	margin-right: 4px;
	width: 50%;
}

.articles-main__contents__type1__body{	
	color:white;
	font-size: 19.2px;
	font-family: adellesans;
	font-weight: bold;
	display:inline-block;
	width:45%;
	padding-left: 3px;
}

.articles-main__contents__body-author{
	display: block;
	color: #e5127d;
	font-size: 12px;
	text-decoration: none;
	font-family: helvetica;
    font-weight: normal;
}

.articles-main__contents__type2{	
	padding: 8px;
    display: inline-block;
    background: black;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: -webkit-fill-available;   
}

.articles-main__contents__type2 img{
	float: left;
	margin-right: 8px;
}

.articles-main__contents__type2__body{
	font-size: 14.4px;
	font-family: adellesans;
	font-weight: bold;
	color:white;
	vertical-align: top;
	padding-left: 3px;
}

.articles{
	overflow: auto;
	padding: 16px 0px;
}
.articles__content{
	width: 100%;
	display: inline-block;
	padding:8px 0px;
	background: white;
    border-bottom: 1px solid #e7e7e8;
}

.articles__content:first-child{
	width: 100%;
	display: inline-block;
	padding:8px 0px;
	background: white;
	border-bottom: 1px solid #e7e7e8;
	border-top: 1px solid #e7e7e8;
}

.articles__content__image-container{
	width: 30%;
	float: left;
}

.articles__content img{
	width: 100%;
}

.articles__content__text-container{
	width: 70%;
	float: left;
}

.articles__contents_type1{
	font-size: 14.4px;
	font-family: adellesans;
	font-weight: 600;
	color:#0A0909;
	display: inline-block;
	vertical-align: top;
	padding:0px 8px;
}
.articles__contents_type1_body{
	display: block;
	color: #e5127d;
	font-size: 12px;
	text-decoration: none;
	float: left;
}
.articles__contents_type1_body_bottom{
	float:left;
	color:#6a6a6a;
	font-size: 12px;
}
.articles__after:after{
	border-right: 1px solid currentColor;
    content: "";
    display: inline-block;
    height: 1.1em;
    margin: 0 .4em;
    vertical-align: middle;
	width: 2px;
	color:black;
}
.articles__ad-box__left_title{
	color:#424247;
	font-family: sans-serif;
	text-decoration: none;
	font-size: 14.4px;
	padding-left: 4px;
	padding-right: 4px;
}
.articles__ad-box__left{
	width:50%;
	text-align: right;
	float:left;
}
.articles__ad-box__right{
	color:#e5127d;
	width: 50%;
	float: right;
	font-family: heroic;
	font-size: 2em;
	font-weight: bold;
	letter-spacing: 0.64px;
	font-style: italic;
	text-align: left;
	line-height: 1;
	text-transform: uppercase;
}
.articles__ad-box__right-content{
	padding-left: 8px;
	padding-top: 16px;
}
.articles__ad-box{
	overflow: auto;
	padding: 16px 0px;
}

.articles__ad-box-tablet{
	display: none;
}

.articles__ad-box-author{
	display: block;
	color: #e5127d;
	font-size: 12px;
	text-decoration: none;
}

.guidebook__container{
	background-color: black;
	padding-bottom: 4px;
}

.guidebook__top{
	position: relative;
    overflow: auto;
    padding: 1.2rem 16px 2rem; 
}

.guidebook__top-left{
	width: 50%;
	float: left;
}

.guidebook__top-left img{
	max-width: 250px;
    max-height: 50px;
}

.guidebook__top-right{
	width: 50%;
    display: inline-block;
    text-align: end;
    margin-top:17px;
}

.guidebook__top-right a{
	text-decoration: none;
    color:#e5127d;
    font-size: 16px;
}

.guidebook__top:after {
	background: #e5127d;
	content: "";
	height: 2px;
	position: absolute;
	right: 39px;
	top: 90px;
	left: 16px;
	z-index: 1;
}

.guidebook__bottom:before {
	background-color: #e5127d;
	content: "";
	height: 2px;
	position: absolute;
	right: 40px;
	top: -14px;
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
	-webkit-transform-origin: top right;
	transform-origin: top right;
	width: 35px;
	z-index: 1;
}

.guidebook__bottom{
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
}

.guidebook__bottom__article{
	width: 100%;
	display: inline-block;
	position: relative;
	background-color: white;
	margin-top: 4px;
	margin-bottom: 4px;
}

.guidebook__bottom__article-image{
	width: 30%;
	display: inline-block;
    float: left;
}

.guidebook__bottom__article-image img{
	display: block;
}

.guidebook__bottom__article-content{
	width: 70%;
	display: inline-block;
}

.guidebook__bottom__article-content div{
	padding-left: 16px;
	position: absolute;
	top: 50%;
	font-family: sans-serif;
	font-size: 14.4px;
    font-weight: bold;
    color: #424242;
    transform: translateY(-50%);
}

.more-container{
	height: 51px;
    background-color: #e5127d;
    color: #ffffff;
    text-align: center;
    line-height: 51px;
    font-size: 0.75em;
    letter-spacing: 0.09em;
    font-family: helvetica;
}

.navbar__dropdown{
	height: 100%;
}

.navbar__dropdown-hide{
	visibility: none;
	display: none;
}

.navbar__dropdown-show {
	display:inline;
	visibility: visible;
	background-color: black;
	overflow: auto;
	z-index: 1;
}

.navbar__dropdown a{
	font-size: 9.6px;
	color: white;
	padding-left: 16px;
	border-bottom: 1px solid #6a6a6a;
	font-weight: bold;
	line-height: 42px;
	font-family: sans-serif;
	display: block;
	height: 41px;
	background-color: #1a1a1a;
    text-align: left;
	text-decoration: none;
}

.navbar__dropdown a:nth-last-child(2){
	color: #e5127d;
}

.navbar__dropdown a:last-child{
	height: -webkit-fill-available;
}

.mainHeader__date{
	display: none;
}

.hide{
	display: none;
}

.icon-search{
	display: none;
}

.articles-main__desktop{
	display: none;
}

.circuit__breaker{
	display: none;
}

@media(min-width:600px){
	.articles-main__contents__type2{
		margin-bottom: 2px;
		padding: 0px;
		margin-right: 0px;
		width: 49.6%;
		float: left;
	}
	.articles{
		padding: 16px 16px;
	}
	.articles__contents_type1,.articles__ad-box__left_title,.articles__ad-box-author{
		font-size: 17px;
	} 
	.articles__ad-box__right{
		font-size: 34px;
	}
	.articles__ad-box{
		padding: 16px 16px;
	}
	.articles__ad-box__right-content{
		padding-left: 16px;
	}
	.guidebook__container{
		margin: 0 16px;
	}
	.guidebook__bottom__article{
		width: 48.7%;
		margin-bottom: 12px;
	}
	.guidebook__bottom__article:nth-child(2){
		float: right;
	}
	.guidebook__bottom__article:nth-child(4){
		float: right;
	}
	.guidebook__bottom__article-image{
		height: 103px;
	}
	.guidebook__bottom__article-image img{
		height: 100%;
	}
	.guidebook__bottom__article-content div{
		font-size: 15.3px;
	}
	footer{
		height: 200px;
	}
	.footer__logo{
		width: 30%;
		float: left;
		display: inline-block;
		padding: 74px 16px;
	}
	.footer__logo svg{
		max-width: 168px;
	}
	.footer__linksContainer{
		width: 30%;
		float: left;
		display: inline-block;
	}
	.footer__section-vox{
		width: 30%;
		display: inline-block;
		padding: 48px 0px;
		text-align: right;
		margin-left: -16px;
	}
	.footer__links{
		text-align: left;
	}
	.footer__status{
		padding-left: 8px;
		text-align: left;
	}
	.footer__bottom__status-text {
		margin: 0px;
		margin-bottom: 2px;
	}
	.footer__copyright{
		text-align: right;
	}
	.footer__corporateLink{
		text-align: right;
	}
	.footer__voxLogo{
		max-width: 220px;
	}
	.articles-main__contents__type2 img{
		float: none;
		width: 100%;
		margin-right: unset;	
	}
	.articles-main__contents__type1{
		padding: 0px;
		position: relative;
	}
	.articles-main__contents__type1 img{
		height: 360px;
		width: 50%;
		margin-right: unset;
	} 
	.articles-main__contents__type1__body {
		color: white;
		font-size: 46px;
		font-family: heroic;
		letter-spacing: 0.496px;
		font-weight: bold;
		text-transform: uppercase;
		display: inline-block;
		width: 50%;
		padding: 32px;
		box-sizing: border-box;
	}
	.articles-main__contents{
		background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
		overflow: hidden;
		display: inline-block;	
	}
	.articles-main__contents__type2__body {
		font-size: 20.4px;
		font-family: adellesans;
		font-weight: bold;
		color: white;
		height: 100px;
		box-sizing: border-box;
		padding: 16px;
	}
	.articles-main__contents__body-author{
		font-size: 17px;
		text-transform: uppercase;
		padding-top: 8px;
		font-family: heroic;
    	font-weight: bold;
	}
	.mainHeader__logo svg{
		height: 120px;
		width: 100%;
		max-width: 700px;
	}
	.mainHeader__logoContainer{
		width: -webkit-fill-available;
		padding: 64px 16px;
		background:url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/7383215/Masthead_DB_1.0.png");
	}
	.mainHeader__logo{
		background-color: unset;
		width: 100%;
		padding: 8px 0px;
		margin-left: unset;
		text-align: center;
		position: relative;
	}
	.mainHeader__userIconContainer{
		float:unset;
		top: 270px;
		right: 46px; 
		position: absolute;
		width: unset;
	}
	.mainHeader__userIcon{
		background-color: unset;
	}
	.mainHeader__navBar{
		border-top: 1px solid #333333;
	}
	.mainHeader__navBar a{
		border-right: unset;
		font-size: 19.55px;
		padding: 12px 0px;
	}
	.mainHeader__navBarElements{
		width: 12%;
	}

	  .articles-main__contents__type1:after{
		background-color: #f7c626;
		top: 357px;
		content: "";
		height: 3px;
		left: 65px;
		position: absolute;
		-webkit-transform: rotate(120deg);
		transform: rotate(120deg);
		-webkit-transform-origin: bottom right;
		transform-origin: bottom right;
		width: 38px;
		z-index: 4;
	}
	.tablet:before{
		background-color: #f7c626;
		top: -35px;
		content: "";
		height: 3px;
		left: 122px;
		position: absolute;
		width: 100%;
	}  

	.articles__ad-box-tablet{
		display: block;
		background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);
		height: 250px;
		padding: 32px;
		box-sizing: border-box;
		clear: both;
		border-bottom: 16px solid black;
	}
	.articles__ad-box-tablet__right{
		font-size: 34px;
	}
	.articles__ad-box-tablet__right-content{
		padding-left: 16px;
	}	
	.articles__ad-box-tablet__left_title{
		font-size: 25.5px;
		font-family: adellesans;	
	}
	.articles__ad-box-tablet-author{
		font-size: 21.25px;
		font-family: heroic;
	} 
	.articles__ad-box-tablet__left{
		width:50%;
		text-align: right;
		float:left;
	}
	.articles__ad-box-tablet__right{
		color:#e5127d;
		width: 50%;
		float: right;
		font-family: heroic;
		font-size: 2em;
		font-weight: bold;
		letter-spacing: 0.64px;
		font-style: italic;
		text-align: left;
		line-height: 1;
		text-transform: uppercase;
	}
	.articles__ad-box-tablet__right-content{
		padding-left: 32px;
		padding-top: 16px;
		color: black;
    	font-size: 51px;
	}
	.mainHeader__date{
		color: white;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: 19.55px;
		font-family: heroic;
		display: inline-block;
	}
	.hide{
		display: inline-block;
	}
	.icon-search {
		height: 16px;
		width: 16px;
		fill: #fff;
		position: absolute;
		top: 285px;
		right: 16px;
		display: inline-block;
	}
	.articles-main__desktop{
		display: none;
	}
	.circuit__breaker{
		display: none;
	}
	.tablet{
		position: relative;
	}
}

@media(min-width:1024px){
	.articles-main__contents__type2{
		width: 33.13%;
	}
	.articles-main__contents__body-author{
		letter-spacing: 0.5px;
	}
	.articles{
		max-width: 660px;
		float: left;
	}
	.articles__ad-box{
		max-width: 660px;
		clear: both;
	}
	.guidebook__container{
		max-width: 660px;
		margin-left: 16px;
	}
	.articles-main__desktop{
		display: inline-block;
		width: 32.7%;
		margin-left: 0px;
		margin-top: 1px;
	}
	.articles-main__contents__type1{
		width: 67%;
		margin: 1px 1px;
	}
	.articles-main__contents__type2 img{
		height: 248px;
	}
	.articles__ad-box-tablet{
		padding: 54px 32px;
		border-bottom: unset;
	}
	.footer__logo{
		width: 18%;
		padding: 48px 16px;
	}
	footer{
		padding-top: 54px;
	}
	.footer__linksContainer{
		width: 47%;
	}
	.footer__section-vox{
		padding: 0px;
		margin-left: 32px;
		width: 23%;
	}
	.footer__links{
		font-size: 13.5px;
	}
	.footer__status{
		font-size: 13.5px;
	}
	.footer__corporateLink{
		font-size: 13.5px;
	}
	.footer__copyright{
		font-size: 13.5px;
	}
	.articles__content{
		padding: unset;
	}
	.articles__content:first-child{
		padding: unset;
	}
	.articles__contents_type1{
		padding-top: 8px;
	}
	.articles__content img{
		height: 112px;
	}
	.circuit__breaker{
		display: block;
		width: 300px;
		float: right;
		margin-right: 16px;
		margin-top: 64px;
	}
	.circuit__breaker svg{
		max-height: 64px;
		width: 240px;
		margin-left: 16px;
	}
	.circuit__article-top::before{
		background-color: #393092;
		content: "";
		height: 2px;
		position: absolute;
		top:-14px;
		right: 291px;
		transform-origin: bottom;
		transform: rotate(-120deg);
		width: 25px;
		z-index: 1;
	} 
	.circuit__image-container{
		width: 100%;	
	}
	.circuit__image-container img{
		width: 100%;
		margin-top: 16px;	
	}
	.circuit__text{
		font-family: adellesans;
		font-size: 16.2px;
		color:#626262;
		font-weight: 900;
		padding: 8px 0px; 
	}
	.circuit__article{
		padding-right: 16px;
    	border-right: 2px solid #393092;
	}
	.circuit__article-top{
		border-top: 2px solid #393092;
		padding-top: 16px;
		position: relative;
	}
	.circuit__article-top img{
		margin-top: unset;
	}
	.circuit__more-text{
		font-family: heroic;
		font-size: 16.2px;
		color: #e5127d;
		text-align: right;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-right: 16px;
		width: 116px;
		position: relative;
		float: right;
		border-bottom: 2px solid #393092;
	}
	.circuit__more-text::after{
		background-color: #393092;
		content: "";
		height: 2px;
		transform-origin: top right;
		transform: rotate(120deg);
		width: 25px;
		position: absolute;
		top: 36px;
		right: 0px;
		z-index: 1;
	}
	.desktop{
		height: 108px;
	}
	.mainHeader__navBar{
		display: block;
		margin: 0 auto;
		max-width: 1300px;
	}	
}
.body-container{
	max-width: 1300px;
	margin: 0 auto;
	background: white;
}



